<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
 
<head th:fragment="configFragment">
<meta charset="UTF-8" />
<!-- 
START : 공통 CSS 파일 영역
정적 자원들은 src/main/resources/static 밑에서 관리한다.
 -->
<link rel="stylesheet" th:href="@{/lib/bootstrap-3.3.2-dist/css/bootstrap.min.css}"/>
<!-- END : 공통 CSS 파일 영역 -->

<!-- START : 사용자 생성 CSS 영역 -->
<th:block layout:fragment="css"></th:block>
<!-- END : 사용자 생성 CSS 영역 -->
 
<!-- 
START : 공통 JS 파일 영역
정적 자원들은 src/main/resources/static 밑에서 관리한다.
-->
<script th:src="@{/lib/jQuery/jquery-3.4.1.min.js}"></script>
<script th:src="@{/lib/bootstrap-3.3.2-dist/js/bootstrap.min.js}"></script>
<script th:src="@{/lib/vue/vue.js}"></script>
<!-- END : 공통 JS 파일 영역-->

<!-- START : 사용자 생성 JS 영역 -->
<th:block layout:fragment="script"></th:block>
<!-- END : 사용자 생성 JS 영역 -->
</head>
 
</html>